@{
    ViewData["Title"] = "Delete Task";
}

@model ToDoMatrix.Models.TaskModel

<h2>Confirm Deletion</h2>

<h3>Are you sure that you would like to delete @Model.Task?</h3>

<form method="POST" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="TaskId" />
</form>